# BLOCKS AND COMMERCIAL ZONES

In [2]:
import fiona
import geopandas as gpd
from geopandas import GeoDataFrame 
import shapefile
import pandas as pd
import csv

In [1]:
#BRING IN NYC BLOCKS
blocs = gpd.GeoDataFrame.from_file('mappy.shp')
blocs.head()

,admin_fire,assemdist,atomic_num,atomicid,borough,censusbl_1,censusbl_2,censusbl_3,censusbloc,censustr_1,...,sb_1_page,sb_1_volum,sb_2_page,sb_2_volum,sb_3_page,sb_3_volum,schooldist,shape_area,shape_leng,water_flag
0,E 151,62,None,5024401430,5,None,1020,None,4023,024401,...,533,05,None,None,None,None,31,244110.620576,2424.560416,2
1,E 151,62,None,5024401439,5,None,2004,None,4030,024401,...,533,05,None,None,None,None,31,177042.348067,1722.931212,2
2,E 151,62,None,5024402223,5,B,1005,None,2002,024402,...,530,05,529,05,None,None,31,33790.843893,770.085650,2
3,E 151,62,None,5024401441,5,None,2005,None,4031,024401,...,533,05,None,None,None,None,31,171623.335762,1697.908522,2
4,E 151,62,None,5024401440,5,None,1018,None,4015,024401,...,532,05,None,None,None,None,31,78855.828376,1243.106869,2

In [2]:
blocs.shape

(65788, 26)

In [3]:
#CALCULATE BLOCKS CENTROIDS
blocs['centroid'] = blocs.geometry.centroid

In [5]:
#BRING IN ZONES 
zones = gpd.GeoDataFrame.from_file('Zoning GIS Data- Shapefile.geojson')
zones.head()

,effective,geometry,lhlbl,lhname,lucats,overlay,project_na,sd_2,sdlbl,sdname,shape_area,shape_leng,splbl,spname,status,sub_2,subdist,subsub,ulurpno,zonedist
0,None,(POLYGON ((-73.9185835568085 40.63551955849491...,None,None,None,C2-3,None,None,None,None,32055.223708,881.996172746,None,None,None,None,None,None,None,None
1,None,(POLYGON ((-73.91921367537759 40.6394518561141...,None,None,None,C2-3,None,None,None,None,31378.2893009,871.396032649,None,None,None,None,None,None,None,None
2,None,(POLYGON ((-73.91894691269701 40.6370649668020...,None,None,None,C2-3,None,None,None,None,50213.0600855,1170.62533097,None,None,None,None,None,None,None,None
3,None,(POLYGON ((-73.98710148087986 40.7793708651279...,None,None,None,C2-5,None,None,None,None,83697.6146456,1252.04445157,None,None,None,None,None,None,None,None
4,None,(POLYGON ((-73.98999438133087 40.7756022187273...,None,None,None,C2-5,None,None,None,None,63571.1317427,1229.56598836,None,None,None,None,None,None,None,None

In [6]:
#CALCULATE ZONES CENTROIDS
zones['centroid'] = zones.geometry.centroid

In [7]:
zones.head()

,effective,geometry,lhlbl,lhname,lucats,overlay,project_na,sd_2,sdlbl,sdname,...,shape_leng,splbl,spname,status,sub_2,subdist,subsub,ulurpno,zonedist,centroid
0,None,(POLYGON ((-73.9185835568085 40.63551955849491...,None,None,None,C2-3,None,None,None,None,...,881.996172746,None,None,None,None,None,None,None,None,POINT (-73.91854301334075 40.63518888223116)
1,None,(POLYGON ((-73.91921367537759 40.6394518561141...,None,None,None,C2-3,None,None,None,None,...,871.396032649,None,None,None,None,None,None,None,None,POINT (-73.91897992586544 40.63891877519323)
2,None,(POLYGON ((-73.91894691269701 40.6370649668020...,None,None,None,C2-3,None,None,None,None,...,1170.62533097,None,None,None,None,None,None,None,None,POINT (-73.91861563669887 40.63634279124)
3,None,(POLYGON ((-73.98710148087986 40.7793708651279...,None,None,None,C2-5,None,None,None,None,...,1252.04445157,None,None,None,None,None,None,None,None,POINT (-73.98715131375053 40.7799679019547)
4,None,(POLYGON ((-73.98999438133087 40.7756022187273...,None,None,None,C2-5,None,None,None,None,...,1229.56598836,None,None,None,None,None,None,None,None,POINT (-73.98932089546669 40.77603234786181)

In [8]:
zones.shape

(15714, 21)

In [21]:
# LOCATE THE ZONE EACH BLOCK BELONGS TO
def bloctozone(x):
    distancebloctozone = []
    y = zones.geometry
    for i,j in enumerate(y):           
        distance= x.distance(j)
        distancebloctozone.append((distance, i))
    return min(distancebloctozone)

In [22]:
blocs['bloctozone_dist_index'] = blocs.centroid.apply(bloctozone)

In [23]:
blocs.head()

,admin_fire,assemdist,atomic_num,atomicid,borough,censusbl_1,censusbl_2,censusbl_3,censusbloc,censustr_1,...,sb_2_page,sb_2_volum,sb_3_page,sb_3_volum,schooldist,shape_area,shape_leng,water_flag,centroid,bloctozone_dist_index
0,E 151,62,None,5024401430,5,None,1020,None,4023,024401,...,None,None,None,None,31,244110.620576,2424.560416,2,POINT (-74.24608350404824 40.50529756161672),"(0.0, 9555)"
1,E 151,62,None,5024401439,5,None,2004,None,4030,024401,...,None,None,None,None,31,177042.348067,1722.931212,2,POINT (-74.24015254726999 40.50586963008686),"(0.0, 9555)"
2,E 151,62,None,5024402223,5,B,1005,None,2002,024402,...,529,05,None,None,31,33790.843893,770.085650,2,POINT (-74.23148096916347 40.50658876831105),"(0.0, 9555)"
3,E 151,62,None,5024401441,5,None,2005,None,4031,024401,...,None,None,None,None,31,171623.335762,1697.908522,2,POINT (-74.2389851904741 40.50609851170643),"(0.0, 9555)"
4,E 151,62,None,5024401440,5,None,1018,None,4015,024401,...,None,None,None,None,31,78855.828376,1243.106869,2,POINT (-74.25192374187138 40.50622959430831),"(0.0, 9555)"

In [24]:
blocs.to_csv("blocs&zones.csv")

In [26]:
blocs_zones = blocs

In [27]:
# CLEAN INFORMATION
blocs_zones['closest_zone_distance'] = blocs_zones.bloctozone_dist_index.apply(lambda x: x[0])
blocs_zones['closest_zone_index'] = blocs_zones.bloctozone_dist_index.apply(lambda x: x[1])
blocs_zones['closest_zone_id'] = blocs_zones.closest_zone_index.apply(lambda x: zones.loc[x]['overlay'])

In [28]:
blocs_zones.head()

,admin_fire,assemdist,atomic_num,atomicid,borough,censusbl_1,censusbl_2,censusbl_3,censusbloc,censustr_1,...,sb_3_volum,schooldist,shape_area,shape_leng,water_flag,centroid,bloctozone_dist_index,closest_zone_distance,closest_zone_index,closest_zone_id
0,E 151,62,None,5024401430,5,None,1020,None,4023,024401,...,None,31,244110.620576,2424.560416,2,POINT (-74.24608350404824 40.50529756161672),"(0.0, 9555)",0.0,9555,None
1,E 151,62,None,5024401439,5,None,2004,None,4030,024401,...,None,31,177042.348067,1722.931212,2,POINT (-74.24015254726999 40.50586963008686),"(0.0, 9555)",0.0,9555,None
2,E 151,62,None,5024402223,5,B,1005,None,2002,024402,...,None,31,33790.843893,770.085650,2,POINT (-74.23148096916347 40.50658876831105),"(0.0, 9555)",0.0,9555,None
3,E 151,62,None,5024401441,5,None,2005,None,4031,024401,...,None,31,171623.335762,1697.908522,2,POINT (-74.2389851904741 40.50609851170643),"(0.0, 9555)",0.0,9555,None
4,E 151,62,None,5024401440,5,None,1018,None,4015,024401,...,None,31,78855.828376,1243.106869,2,POINT (-74.25192374187138 40.50622959430831),"(0.0, 9555)",0.0,9555,None

In [29]:
blocs_zones = blocs_zones.rename(columns = {'closest_zone_id':'zone_type'})

In [33]:
blocs_zones.to_csv("15.Blocs_&_zones.csv")

In [3]:
# CREATE DATAFRAME
blocs_zones = pd.DataFrame.from_csv("15.Blocs_&_zones.csv")

/Users/lorenadelaparralanda/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (17,19,21,31) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [5]:
blocs_zones.head()

,admin_fire,assemdist,atomic_num,atomicid,borough,censusbl_1,censusbl_2,censusbl_3,censusbloc,censustr_1,...,sb_3_volum,schooldist,shape_area,shape_leng,water_flag,centroid,bloctozone_dist_index,closest_zone_distance,closest_zone_index,zone_type
0,E 151,62,NaN,5024401430,5,NaN,1020,NaN,4023,24401,...,NaN,31,244110.620576,2424.560416,2,POINT (-74.24608350404824 40.50529756161672),"(0.0, 9555)",0.0,9555,NaN
1,E 151,62,NaN,5024401439,5,NaN,2004,NaN,4030,24401,...,NaN,31,177042.348067,1722.931212,2,POINT (-74.24015254726999 40.50586963008686),"(0.0, 9555)",0.0,9555,NaN
2,E 151,62,NaN,5024402223,5,B,1005,NaN,2002,24402,...,NaN,31,33790.843893,770.085650,2,POINT (-74.23148096916347 40.50658876831105),"(0.0, 9555)",0.0,9555,NaN
3,E 151,62,NaN,5024401441,5,NaN,2005,NaN,4031,24401,...,NaN,31,171623.335762,1697.908522,2,POINT (-74.2389851904741 40.50609851170643),"(0.0, 9555)",0.0,9555,NaN
4,E 151,62,NaN,5024401440,5,NaN,1018,NaN,4015,24401,...,NaN,31,78855.828376,1243.106869,2,POINT (-74.25192374187138 40.50622959430831),"(0.0, 9555)",0.0,9555,NaN

In [6]:
blocs_zones.columns

Index([u'admin_fire', u'assemdist', u'atomic_num', u'atomicid', u'borough',
       u'censusbl_1', u'censusbl_2', u'censusbl_3', u'censusbloc',
       u'censustr_1', u'censustr_2', u'censustrac', u'commdist', u'electdist',
       u'geometry', u'hurricane', u'sb_1_page', u'sb_1_volum', u'sb_2_page',
       u'sb_2_volum', u'sb_3_page', u'sb_3_volum', u'schooldist',
       u'shape_area', u'shape_leng', u'water_flag', u'centroid',
       u'bloctozone_dist_index', u'closest_zone_distance',
       u'closest_zone_index', u'zone_type'],
      dtype='object')

In [7]:
blocs_zones.shape

(65788, 31)

In [10]:
blocs_zones = blocs_zones.drop(['admin_fire', 'assemdist', 'atomic_num', 'borough',
       'censusbl_1', 'censusbl_2', 'censusbl_3', 'censusbloc',
       'censustr_1', 'censustr_2', 'censustrac', 'commdist', 'electdist',
       'geometry', 'hurricane', 'sb_1_page', 'sb_1_volum', 'sb_2_page',
       'sb_2_volum', 'sb_3_page', 'sb_3_volum', 'schooldist',
       'shape_area', 'shape_leng', 'water_flag', 'centroid',
       'bloctozone_dist_index', 'closest_zone_distance',
       'closest_zone_index'], 1)

In [13]:
blocs_zones.head()

     atomicid zone_type
0  5024401430       NaN
1  5024401439       NaN
2  5024402223       NaN
3  5024401441       NaN
4  5024401440       NaN

In [14]:
blocs_zones.zone_type.value_counts()

C2-4    453
C2-3    335
C2-2    331
C1-2    316
C1-4    242
C1-3    225
C2-5    127
C2-1     86
C1-1     75
C1-5     51
Name: zone_type, dtype: int64

In [16]:
blocs_zones.to_csv("Zones.csv")